<table>
    <thead>
{{#if vardas}}
        <th>Vardas</th>
{{/if}}
        <th>Pavarde</th>
        <th>Adresas</th>
        <th>Telefonas</th>
        <th>Elpastas</th>
        <Pavarde
    </thead>
    <tbody>
        <tr>
{{#if vardas}}
            <td>{{vardas}}</td>
{{/if}}
            <td>{{pavarde}}</td>
            <td>{{adresas}}</td>
            <td>{{telefonas}}</td>
            <td>{{elpastas}}</td>
        </tr>
    </tbody>
</table>